/**
* Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

/**
* Global reset
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Geist Mono', monospace;
  height: 100%;
  text-transform: uppercase;
}

:root {
  --base-100: #fff;
  --base-200: #eff1eb;
  --base-300: #5b553b;
  --base-400: #000;
}

#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
p {
  color: var(--base-300);
  font-family: 'Geist Mono', monospace;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: -0.0125rem;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/***
* Hide scrollbar
*/
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
